@{
    ViewBag.Title = "Home Page";
}

<div id="mainContainer" class="container">
    <div class="row">
        <div id="rightside" class="col-xs-12 col-sm-12 col-md-12" style="min-height:627px;">
        </div>
    </div>
</div>

