
@{
    ViewBag.Title = "NewConsignment";
}


<div id="mainContainer" class="container">
    <div class="row">
        <div id="rightside" class="col-xs-12 col-sm-12 col-md-12" style="min-height:836px;">
            <div id="load"></div>
            <div id="pageTitle" class="article-header"><h1 style="color:#003184">New Consignment</h1></div>
            <div id="pageTitleBulk" class="article-header" style="display:none"><h1 style="color:#003184">Fulfill Multiple Orders</h1></div>
            <div class="panel panel-body" style="padding:0">
                <div class="panel-body" style="padding:3px">
                    <label id="warning1" style="display:none;padding:1px;width:500px" class="label-warning">Test</label>
                    <label id="warning2" style="display:none;padding:1px;width:500px" class="label-warning">Test</label>
                    <label id="warning3" style="display:none;padding:1px;width:500px" class="label-warning">Test</label>
                </div>
            </div>
            <div class="col-md-6" id="leftMainPanel" style="padding-left: 0">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="font-weight:bold">
                        Receiver Details <span style="color:red">** Max length for these fields is 30 charaters **</span>
                    </div>
                    <div class="panel-body">
                        <div class="address">
                            <label>Name:<span style="color:red;font-weight:bold">*</span></label>
                            <input id="tbxCustomerName" class="form-control" placeholder="Company or Name" type="text" style="" />
                        </div>
                        <div class="address">
                            <label>Address line 1:</label><span style="color:red">** Street numbers and street names only **</span>
                            <input id="tbxDeliveryAddress" class="form-control" placeholder="Address line 1" type="text" style="" />
                        </div>
                        <div class="address">
                            <label>Address line 2:</label>
                            <input id="tbxDeliveryAddress1" class="form-control" placeholder="Address line 2" type="text" style="" />
                        </div>
                        <div class="row">
                            <div class="address col-md-6">
                                <label>Suburb:<span style="color:red;font-weight:bold">*</span></label>
                                <input id="tbxDeliveryCity" class="form-control" placeholder="Suburb" type="text" style="" />
                            </div>
                            <div class="address col-md-6">
                                <label>Postcode:<span style="color:red;font-weight:bold">*</span></label>
                                <input id="tbxDeliveryPostcode" class="form-control" placeholder="Postcode" type="text" maxlength="4" style="" />
                            </div>
                        </div>
                        <div class="address">
                            <label>Region:</label>
                            <input id="tbxRegion" class="form-control" placeholder="Region:" type="text" style="" />
                        </div>
                    </div>
                    <div id="satFooter" class="panel-footer" style="display:none">
                        <label>
                            <input id="satCbx" name="satCbx" type="checkbox" />
                            Saturday Service
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="rightMainPanel" style="padding-right: 0">
                <div class="panel panel-default">
                    <div class="panel-heading">Options</div>
                    <div class="panel-body">
                        <div class="address">
                            <label>Contact Name:</label>
                            <input id="tbContactName" class="form-control" type="text" style="width:100%" />
                        </div>
                        <div class="address">
                            <label>Email:</label>
                            <input id="tbEmail" class="form-control" type="text" />
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone Number:</label>
                                <input id="tbPhone" class="form-control" type="text" />
                            </div>
                            <div class="col-md-6">
                                <label>Mobile:</label>
                                <input id="tbMobilePhone" class="form-control" type="text" />
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width:100%">
                    <label>Special Instructions</label>
                    <input id="tbInstructions" class="form-control" style="width:100%" type="text" />
                    <label style="margin-top: 5px">
                        <input id="notifyCbx" name="notifyCbx" type="checkbox" checked />
                        Notify Customer
                    </label>
                </div>
            </div>
            <table class="table-spacing pad-bottom-50 pad-top-10" id="packageTablePanel" style="border-collapse:separate; width:100%;">
                <tbody>
                    <tr>
                        <td>
                            <table id="tblItems" class="list" style="width:100%">
                                <tbody>
                                    <tr class="headerFullBox">
                                        <td>Reference</td>
                                        <td>Packaging</td>
                                        <td>Items</td>
                                        <td>Weight(kg)</td>
                                        <td>Cubic(m<sup>3</sup>)</td>
                                        <td>Length(cm)</td>
                                        <td>Width(cm)</td>
                                        <td>Height(cm)</td>
                                        <td>Cost</td>
                                        <td>Extra</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row" id="mainControlPanel">
                <div class="col-xs-6">
                    <a class="btn btn-primary" onclick="printLabels()">
                        Print labels
                    </a>
                    <a class="btn btn-primary" onclick="addPackage()">
                        Add package
                    </a>
                    <a id="reset-button" class="btn btn-danger" onclick="reset()">
                        Reset
                    </a>
                </div>
                <div class="col-xs-6">
                    <div class="pull-right" style="width:120px">
                        <table style="text-align:right;vertical-align:top">
                            <tbody>
                                <tr>
                                    <td>
                                        <h6>Ex GST:</h6>
                                    </td>
                                    <td>
                                        $
                                        <label id="spanExGST">0.00</label>
                                    </td>
                                </tr>
                                <tr style="border-top:1px solid black">
                                    <td>
                                        <h6>GST:</h6>
                                    </td>
                                    <td>
                                        $
                                        <label id="spanGST">0.00</label>
                                    </td>
                                </tr>
                                <tr style="height: 20px">
                                    <td style="border-top: 1px solid black; border-bottom: 1px double black">
                                        <h4>Total:</h4>
                                    </td>
                                    <td style="border-top: 1px solid black; border-bottom: 1px double black">
                                        $
                                        <label id="spanTotal">0.00</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <table id="tblOrders" class="list" style="display:none;width:100%">
                <tbody>
                    <tr class="headerFullBox">
                        <td>Name</td>
                        <td>Address</td>
                        <td>Address 1</td>
                        <td>Suburb</td>
                        <td>Postcode</td>
                        <td>Base Label</td>
                        <td>Rural Label</td>
                        <td>Service</td>
                    </tr>
                </tbody>
            </table>
            <div class="row" id="orderControlPanel" style="display:none">
                <div class="col-xs-9">
                    <table class="table-spacing pad-bottom-50 pad-top-10" id="customParcelPanel" style="border-collapse:separate; width:100%">
                        <tbody>
                            <tr>
                                <td>
                                    <table id="tblCustomParcel" class="list" style="width:100%">
                                        <tbody>
                                            <tr class="headerFullBox">
                                                <td>Special Instructions</td>
                                                <td>Type</td>
                                                <td>Weight(kg)</td>
                                                <td>Length(cm)</td>
                                                <td>Width(cm)</td>
                                                <td>Height(cm)</td>
                                                <td>Notify customer</td>
                                            </tr>
                                            <tr class="consignmentItems">
                                                <td class="col-xs-3" style="padding:1px;">
                                                    <input id="customInstruction" class="form-control" type="text" />
                                                </td>
                                                <td class="col-xs-2" style="padding:1px;">
                                                    <select id="customType" class="form-control" onchange="selectCustomType()">
                                                        <option value="Parcel">Parcel</option>
                                                        <option value="SAT-NAT-E11">Satchel DL</option>
                                                        <option value="SAT-NAT-A5">Satchel A5</option>
                                                        <option value="SAT-NAT-A4">Satchel A4</option>
                                                        <option value="SAT-NAT-A3">Satchel A3</option>
                                                        <option value="SAT-NAT-A2">Satchel A2</option>
                                                    </select>
                                                </td>
                                                <td class="col-xs-1" style="padding:1px;">
                                                    <input id="customWeight" class="form-control" type="number" onchange="weightError()"/>
                                                </td>
                                                <td class="col-xs-1" style="padding:1px;">
                                                    <input id="customLength" class="form-control" type="number" />
                                                </td>
                                                <td class="col-xs-1" style="padding:1px;">
                                                    <input id="customWidth" class="form-control" type="number" />
                                                </td>
                                                <td class="col-xs-1" style="padding:1px;">
                                                    <input id="customHeight" class="form-control" type="number" />
                                                </td>
                                                <td class="col-xs-1" style="padding:1px;" align="center">
                                                    <input id="notifyBlukCbx" name="notifyBulkCbx" type="checkbox" checked />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" id="multiLabelControlPanel" style="display:none;padding-bottom:50px">
                <div class="col-xs-6" style="padding-top:1em">
                    <a class="btn btn-danger" onclick="queryLabels()">
                        Check Labels
                    </a>
                    <a class="btn btn-success" onclick="bulkPrintLabels()">
                        Print Labels
                    </a>
                    <a class="btn btn-primary" onclick="fulfillOrders()">
                        Fulfill Orders
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/site.js"></script>
